.ghit__about {
    border-radius: 0px 300px 300px 0px;
    padding: 30px 0px 40px 80px;
    width: 90%;
    margin-top: 30px;
    display: flex;
    position: relative;
}

.ghit__about-text {
    width: 60%;
}

.ghit__about-text h3 {
    color: #fff;
    font-weight: 800;
    font-size: 20px;
}

.ghit__about-text p {
    font-size: 14px;
    width: 90%;
    color: var(--color-dark);
}

.ghit__about-cards {
    width: 40%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-left: -50px;
}

.ghit__about-cards2{
    margin-top: 40px;
    margin-left: 0px;
}

@media screen and (max-width:950px) {
    .ghit__about{
        flex-direction: column;
    }
    .ghit__about-cards{
        margin-left:50px ;
        gap: 50px;
    }
    .ghit__about-text{
        width: 100%;
    }
    .ghit__about{
        padding: 20px 0px 60px 40px;
    }
}

@media screen and (max-width:500px) {
    
    .ghit__about-cards{
        gap: 10px;
        margin-left:-10px ;
    }
}