.ghit__system {
    display: flex;
    height: 100%;
    width: 100vw;
}

.ghit__system-image img {
    height: 100%;
    width: 100%;
}

.ghit__system-image {
    width: 45%;
    position: relative;
}

.ghit__system-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ghit__system-content h3 {
    background: var(--color-button);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin-left: 30px;
    font-family: var(--font-bold);
    font-size: 40px;
    margin-bottom: 10px;
}
