.ghit__navbar {
    background-color: #000e21c5;
    padding: 5px 50px 5px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: inherit;
}

.ghit__navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ghit__navbar-logo img {
    width: 70px;
    display: inline-block;
}

.ghit__navbar-logo h4 {
    background: var(--color-button);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-family: var(--font-bold);
    font-size: 35px;
    margin: 0;
    letter-spacing: 0.1rem;
}

.ghit__navbar-links {
    display: flex;
    gap: 40px;
    cursor: pointer;
}

.ghit__navbar-links p {
    color: #fff;
    font-weight: 600;
    width: fit-content;
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ghit__navbar-links p:hover {
    background: var(--color-gradient);
    transform: scale(1.1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ghit__navbar-links_mobile {
    position: absolute;
    top: 60px;
    border-radius: 5px;
    z-index: 1000;
    right: 10px;
    background-color: #000b1a;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width:110px;

}

.ghit__navbar-links_mobile p {
    color: #fff;
    margin: 13px 0;
    width: fit-content;
    text-align: left;
    font-weight: 600;
}

@media screen and (min-width:750px) {
    .ghit__navbar-menu{
        display: none;
    }
}

@media screen and (max-width:750px) {
    .ghit__navbar-links{
        display: none;
    }
    .ghit__navbar-logo img{
        width: 45px;
        height: 45px;
    }
    .ghit__navbar-logo h4{
        font-size: 30px;
        letter-spacing: 0;
    }
}

@media screen and (max-width:500px) {
    .ghit__navbar{
        padding-left: 30px;
        padding-right: 30px;
    }
}