.ghit__courseCard {
    height: 320px;
    width: 250px;
    padding-bottom: 20px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    overflow: hidden;
    transition: 500ms all cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: rgba(2,
            135,
            1920, 0.19) 0px 10px 20px, rgba(2, 135, 192, 0.23) 0px 6px 6px;
}

.ghit__courseCard img {
    height: 60%;
}

.ghit__courseCard-content {
    padding: 0 20px;

}

.ghit__courseCard-content h4 {
    margin-bottom: 0;
}

.ghit__courseCard-content p {
    font-size: 13px;
    color: var(--color-dark);
}

.ghit__courseCard:hover{
    transform: scale(1.05) translateY(-10px);

}