.ghit__header {
    display: flex;
    width: 100%;
    align-items: center;
}

.ghit__header img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.ghit__header-content {
    display: flex;
    z-index:-1;
    margin: 110px 0 150px 0;
}

.ghit__header-content_text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ghit__header-content_text p {
    color: var(--color-dark);
    margin-bottom: 0;
}

.ghit__header-content_text h1 {
    color: #fff;
    font-family: var(--font-bold);
    font-size: 60px;
    line-height: 64px;
    margin-top: 0;
    margin-bottom: 60px;
}

.ghit__header-content_image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ghit__header-ico {
    position: static !important;
}

@media screen and (max-width:1024px) {
    .ghit__header-content{
        margin: 80px 0 120px 0;
    }
    .ghit__header-content h1{
        margin-bottom: 30px;
    }   
}

@media screen and (max-width:950px) {
    .ghit__header-content{
        flex-direction: column;
        margin-top: 50px;
    }
    .ghit__header-content_text {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .ghit__header-content h1{
        font-size: 37px;
        line-height: 45px;
    }
    .ghit__header-content_text {
        margin-bottom: 40px;
    }
    .ghit__header-content{
        margin: 20px 0 70px 0;
    }
}
